.header_style {
 background: url(images/orange-gradient.png) repeat-x; 
 height: 150px; 
}

.footer_style {
    background: url(images/orange-gradient.png) repeat-x; 
    height: 200px;
   }

.upper-buttons {
 font-weight: 700;
 font-size: 40px;
 color: rgb(255, 255, 255);
 margin-top: 50px;
 text-decoration: none;
 margin-left: 5px;
 padding: 20px 5px;
 border: none;
 background-color: rgba(255, 255, 255, 0);
 text-decoration: none;
}

.upper-buttons:hover { color: rgb(255, 119, 65); } /* при наведении курсора мышки */
.upper-buttons:active { background: rgba(0, 0, 0, 0.384); }

.links{
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-decoration: none;
    margin-left: 2px;
    padding: 20px 19px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
}
.links:hover { color: rgb(255, 119, 65); }

a:active { background: rgba(0, 0, 0, 0); }

#social {
    margin-left: 40px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 20px;
}
