.header_style {
    background: url(../images/orange-gradient.png) repeat-x; 
    height: 100px; 
    text-align: justify;
}

.footer_style {
    background: url(../images/orange-gradient.png) repeat-x; 
    height: 200px;
    margin-top: initial;
}

.formm {
    color: lawngreen;
}

.errors {
    color: red;
}

.back {
    font-weight: 500;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

.back:hover { color: rgb(255, 119, 65); }

.links{
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

.links:hover { color: rgb(255, 119, 65); }

.WhiteText {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: underline;
}

.upper-buttons:active { background: rgba(0, 0, 0, 0.384); }

.auth-button {
    border-radius: 10px;
    padding: 20px 48px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    border: 3px solid rgb(255, 119, 65);
}

.auth-button:hover {
    background-color: rgb(255, 119, 65);
}

.auth {
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background: url(../images/gjc.png) repeat; 
}

p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0px;
}

label {
    color: white;
    font-size: 30px;
}

a:active { background: rgba(0, 0, 0, 0); }

@media only screen and (max-width: 1921px) {
    .upper-buttons {
        font-weight: 700;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 6%;
        border: none;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0);
    }

    #horo {
        border-spacing: 220px 40px;
    }

    #colours {
        border-spacing: 220px 40px;
    }

    #copyright {
        color: rgb(104, 104, 104); 
        font-size: 20px;
        margin-top: -50px;
        margin-left: 1700px;
    }

    .info {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1440px) {
    .upper-buttons {
        font-weight: 700;
        font-size: 40px;
        margin-top: 1%;
        margin-left: 4%;
        border: none;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0);
    }
    #horo {
        border-spacing: 125px 30px;
    }

    #colours {
        border-spacing: 125px 30px;
    }

    #copyright {
        color: rgb(104, 104, 104); 
        font-size: 20px;
        margin-top: -50px;
        margin-left: 1300px;
    }

    .info {
        font-size: 30px;
    }
}

#leftSidebar {
    background-color: rgba(221, 221, 221, 0);
    float: left;
    width: 500px;
    margin-bottom: 0px;
    height: 250px;
    border: 2px solid rgb(255, 119, 65);

}

#tea {
    background-color: rgba(221, 221, 221, 0);
    float: left;
    width: 500px;
    margin-left: 0px;
    height: 40px;
    border: 2px solid rgb(255, 119, 65);
}

#main{
    background-color: rgba(238, 238, 238, 0);
    height: 305px;
    margin-left: 520px;
    margin-right: 2px;
    border: 2px solid rgb(255, 119, 65);
    word-wrap: break-word;
}

#back { 
    background: rgba(0, 0, 0, 0.384);
    margin-top: 0px;
}

#hor {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.527);
}

#social {
    margin-left: 40px;
}

#red-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;

}
#red-aura:hover{
    color: rgba(168, 0, 0, 0.815);
    text-decoration: underline;
}

#yellow-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#yellow-aura:hover{
    color: rgba(228, 205, 0, 0.808);
    text-decoration: underline;
}

#orange-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#orange-aura:hover{
    color: rgb(226, 121, 0);
    text-decoration: underline;
}

#green-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#green-aura:hover{
    color: rgb(28, 155, 2);
    text-decoration: underline;
}

#light-blue-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#light-blue-aura:hover{
    color: rgb(0, 148, 168);
    text-decoration: underline;
}

#blue-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#blue-aura:hover{
    color: rgb(0, 39, 168);
    text-decoration: underline;
}

#violet-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#violet-aura:hover{
    color: rgb(59, 0, 168);
    text-decoration: underline;
}

#pink-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#pink-aura:hover{
    color: rgb(173, 15, 147);
    text-decoration: underline;
}

#bronze-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#bronze-aura:hover{
    color: rgb(133, 75, 21);
    text-decoration: underline;
}

#silver-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#silver-aura:hover{
    color: rgb(190, 186, 206);
    text-decoration: underline;
}

#golden-aura {
    font-weight: 400;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    padding: 10px;
}
#golden-aura:hover{
    color: rgb(255, 230, 0);
    text-decoration: underline;
}
