.header_style {
 background: url(../images/orange-gradient.png) repeat-x; 
 height: 150px; 
 text-align: justify;
}


@media only screen and (max-width: 1921px) {
    .upper-buttons {
        font-weight: 700;
        font-size: 40px;
        margin-top: 5%;
        margin-left: 6%;
        border: none;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0);
    }

    #horo {
        border-spacing: 220px 40px;
    }
}

@media only screen and (max-width: 1440px) {
    .upper-buttons {
        font-weight: 700;
        font-size: 40px;
        margin-top: 5%;
        margin-left: 4%;
        border: none;
        padding: 2px;
        background-color: rgba(255, 255, 255, 0);
    }
    #horo {
        border-spacing: 125px 30px;
    }
}

.footer_style {
    background: url(../images/orange-gradient.png) repeat-x; 
    height: 200px;
   }

.upper-buttons:active { background: rgba(0, 0, 0, 0.384); }

.links{
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
}
.links:hover { color: rgb(255, 119, 65); }

a:active { background: rgba(0, 0, 0, 0); }

#social {
    margin-left: 40px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-left: 20px;
}
