<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>WP</title>
  <link rel="stylesheet" href="../static/css/style.css">
 </head>
 <body>
  <header>
      <div class='header_style'>
        <button type="button" class="upper-buttons"><a href="/horoscope" class="links">гороскоп</a></button>
        <button type="button" class="upper-buttons"><a href="/aura" class="links">аура</a></button>
        <a href="/profile" class='upper-buttons'><img src="../static/images/avatar.png" height="75" width="75"></a>
        <button type="button" class="upper-buttons"><a href="/tea" class="links">чай</a></button>
        <button type="button" class="upper-buttons"><a href="/numero" class="links">нумерология</a></button>
      </div>
      <div id="hor" align="center"><p>{{ color }}</p></div>
   </header>
   <main role="main" class="container">
     <p class="info">{{ aura_info }}</p>
     <div id="OtherColours">a
      <table id=#colours>
        <tr>
            <td width="100"><p>Все цвета</p></td>     
            <td width="100"><a href="/aura/red" id="red-aura">Красный</a></td>
            <td width="100"><a href="/aura/yellow" id="yellow-aura">Желтый</a></td>
            <td width="100"><a href="/aura/orange" id="orange-aura">Оранжевый</a></td>   
        </tr>
        <tr>
          <td width="100"><a href="/aura/green" id="green-aura">Зеленый</a></td>     
          <td width="100"><a href="/aura/blue" id="light-blue-aura">Голубой</a></td>
          <td width="100"><a href="/aura/darkblue" id="blue-aura">Синий</a></td>
          <td width="100"><a href="/aura/violet" id="violet-aura">Фиолетовый</a></td>
        </tr>
        <tr>
          <td width="100"><a href="/aura/pink" id="pink-aura">Розовый</a></td>
          <td width="100"><a href="/aura/bronze" id="bronze-aura">Бронзовый</a></td>
          <td width="100"><a href="/aura/silver" id="silver-aura">Серебряный</a></td>
          <td width="100"><a href="/aura/gold" id="golden-aura">Золотой</a></td>
        </tr>
    </table>
     </div>
   </main>
  <footer>
    <div class='footer_style'>
      <p id="social">Мы в социальных сетях</p>
      <table>
        <tr>
          <td align="center"><p>Шатаева Вероника</p></td>
          <td width="62"><a href="https://vk.com/nikashat" class='lower-buttons'><img src="../static/images/vk.png" height="60" width="60"></a></td>
          <td width="62"><a href="https://www.instagram.com/_nikashat_/?hl=ru" class='lower-buttons'><img src="../static/images/insta.png" height="60" width="60"></a></td>
        </tr>
        <tr>
          <td align="center"><p>Закиров Руслан</p></td>
          <td width="62"><a href="https://vk.com/insearchofhappyness" class='lower-buttons'><img src="../static/images/vk.png" height="60" width="60"></a></td>
          <td width="62"><a href="https://www.instagram.com/ice_rus_cream/?hl=ru" class='lower-buttons'><img src="../static/images/insta.png" height="60" width="60"></a></td>
        </tr>
      </table>
    </div>
    <p id="copyright">©WebProject</p>
  </footer>

 </body>
</html>
