
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h2> Имбирный чай </h2>

<div class="card">
  <div class="container">
    <h4><b>Jane Doe</b></h4> 
    <p>В закипевшую воду добавляем имбирь и сахар, как только он растворится, процеживаем чай.

      Кладем перец и добавляем сок, листья мяты. Обладает согревающим и тонизирующим действием.</p> 
  </div>

</body>
</html> 

