<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>WP</title>
  <link rel="stylesheet" href="../static/css/style.css">
 </head>
 <body>
  <header>
      <div class='header_style'>
        <button type="button" class="upper-buttons"><a href="/oils" class="links">масла</a></button>
        <button type="button" class="upper-buttons"><a href="/horoscope" class="links">гороскоп</a></button>
        <button type="button" class="upper-buttons"><a href="/aura" class="links">аура</a></button>
        <a href="/profile" class='upper-buttons'><img src="../static/images/avatar.png" height="75" width="75"></a>
        <button type="button" class="upper-buttons"><a href="/tea" class="links">чай</a></button>
        <button type="button" class="upper-buttons"><a href="/numero" class="links">нумерология</a></button>
        <button type="button" class="upper-buttons"><a href="/dreams" class="links">сонник</a></button>
      </div>
   </header>
   <main role="main" class="container">
    <table cellspacing="60" id="horo">
        <tr>
            <td width="200"><a href="/aura.html" class='lower-buttons'><img src="../static/images/bliz.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/ves.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/deva.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/strel.png" height="200" width="200"></a></td>
        </tr>
        <tr>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/kozer.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/scorpio.png" height="200" width="200"></a></td>       
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/lion.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/oven.png" height="200" width="200"></a></td>
        </tr>
        <tr>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/rak.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/taur.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/vodol.png" height="200" width="200"></a></td>
            <td width="200"><a href="https://www.google.ru" class='lower-buttons'><img src="../static/images/ryby.png" height="200" width="200"></a></td>       
        </tr>
    </table>
   </main>
  <footer>
    <div class='footer_style'>
      <p id="social">Мы в социальных сетях</p>
      <table>
        <tr>
          <td align="center"><p>Шатаева Вероника</p></td>
          <td width="62"><a href="https://vk.com/nikashat" class='lower-buttons'><img src="../static/images/vk.png" height="60" width="60"></a></td>
          <td width="62"><a href="https://www.instagram.com/_nikashat_/?hl=ru" class='lower-buttons'><img src="../static/images/insta.png" height="60" width="60"></a></td>
        </tr>
        <tr>
          <td align="center"><p>Закиров Руслан</p></td>
          <td width="62"><a href="https://vk.com/insearchofhappyness" class='lower-buttons'><img src="../static/images/vk.png" height="60" width="60"></a></td>
          <td width="62"><a href="https://www.instagram.com/ice_rus_cream/?hl=ru" class='lower-buttons'><img src="../static/images/insta.png" height="60" width="60"></a></td>
        </tr>
      </table>
    </div>
    <p id="copyright">©WebProject</p>
  </footer>

 </body>
</html>
